<h1>Exercise 4</h1>


<div class="container">
    <div id="header" class="background pdBottom60 pdBottom30">
        <h2>Header</h2>
    </div>
    
    <div class="flex w100 spaceBetween" >
        <div id="sidebar" class=" w50">
            <div class="background pdBottom250 pdBottom30">
                <h2>Sidebar</h2>
            </div>
        </div>
        
        <div class="w50">
            <div id="featured" class="background pdBottom80 pdBottom30">
                <h2>Featured</h2>
            </div>
            
            <div class="flex spaceBetween">
                <div id="a" class="w50">
                    <div class="background pdBottom80 pdBottom30">
                        <h2>A</h2>
                    </div>
                </div>
                
                <div id="b" class=" w50">
                    <div class="background pdBottom80 pdBottom30">
                        <h2>B</h2>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>

